html {
    overflow-x: hidden;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #000000;
    text-decoration: none;
    word-break: keep-all;
}

.main-header {
    position: fixed;
    top: 5px;
    left: 5px;
}

a,
a:link,
a:visited {
    color: #c0c0c0;
    text-decoration: underline;
}

.main-header a {
    color: #FEF000;
    text-decoration: underline;
}

body {
    display: flex;
    margin-top: 50vh;
    margin-left: 66.66vw;
    position: absolute;
    flex-direction: column;
}

header,
h1 {
    color: #00FF70;
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex: 0;
}

main,
h2,
p {
    color: #c0c0c0;
    text-decoration: none;
}

footer {
    color: #c0c0c0;
    padding: 16px;
    font-size: 12px;
}

@media (max-width: 768px) {
    main {
        font-size: 0.75em;
        margin-left: 25vw;
    }

    footer {
        font-size: 0.75em;
    }
}